* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
}

.fundo {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.fundo-mb{
    display: none;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 5;
    font-weight: bold;
    background: #ffa801 ;
    /*opacity: 0.6;*/
    width: 100%;
    padding: 10px 0px 30px;
    border-bottom: 2px solid #eeeff3;
}
.link1 {
    position: relative;
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 240px;
    margin-top: 30px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;

}
.link1::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s;

}

.link1:hover::after {
    transform: scaleX(1);
}

.link2 {
    position: relative;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 30px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;

}

.link2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s;

}

.link2:hover::after {
    transform: scaleX(1);
}

.link3 {
    position: relative;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 30px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;

}

.link3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s;

}

.link3:hover::after {
    transform: scaleX(1);
}




.link4 {
    position: relative;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 30px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;

}

.link4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s;

}

.link4:hover::after {
    transform: scaleX(1);
}

.link5 {
    position: relative;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 30px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;

}

.link5::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #eeeff3;
    transform: scaleX(0);
    transition: transform 0.3s;

}

.link5:hover::after {
    transform: scaleX(1);
}
/*
.fundo-sub {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0.5;
}
*/

.container {
    position: absolute;
    display: flex;
    z-index: 5;
    gap: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.image-box {
    position: relative;
    width: 250px;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}
.image-box img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.image-box:hover img,
.image-box:focus-within img {
    transform: scale(1.1);
    filter: blur(5px);
}
.link-img {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.image-box:hover .link-img,
.image-box:focus-within .link-img {
    opacity: 1;
}

.link6{
    text-decoration: none;
    color: white;
    padding: 20px 70px;
    background-color: #1e272e;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    border: 2px solid #3d3e41;
}
.link6:hover{
    background-color: #ffa801;
    color: #fff;
    border: 2px solid #eeeff3;
    transform: scale(1.05);
}
.Entrar{

        position: relative;
        display: flex;
        color: white;
        background-color: #1e272e;
        border-radius: 15px;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 20px;
        margin-left: 70px;
        margin-top: 20px;
        list-style-type: none;
        font-family: 'Poppins', sans-serif;
        border: 2px solid #eeeff3;
        transition: background-color 0.3s ease;
    
    }
    .Entrar:hover{
        background-color: #ffa801;
        color: #fff;
        border: 2px solid #eeeff3;
        transform: scale(1.05);

    }
  

.inscrever{
    position: relative;
    display: flex;
    background-color: #1e272e;
    border-radius: 15px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 20px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #eeeff3;
    transition: background-color 0.3s ease;

}
.inscrever:hover{
    background-color: #ffa801;
    color: #fff;
    border: 2px solid #eeeff3;
    transform: scale(1.05);
}

.menu2{
    display: none;
}




/*Responsividade*/
@media (max-width: 768px) {
    
.fundo{
    display: none;
}
.fundo-mb{
    display: none;
}
.link6{
    border-radius: 50px;
    padding: 20px 30px;
}
.container{
    align-items: center;

    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    justify-content: center;
    gap: 10px;
    width: 100%;
    

}
.image-box{
    width: calc(50% - 50px);
    margin-left: 10px;
    margin-right: 10px;

}
.menu{
    display: none;
}
.menu-cell{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ffa801 ;
    border-radius: 15px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    display: block;
    
}
.menu2{
    display: none;
}







}


