* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.fundo {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.fundo-mb{
    display: none;
}
.menu {
    display: flex;
    position: absolute;
    z-index: 4;
    font-size: bold;
    background: #111;
    opacity: 0.8;
    width: 100%;
    padding: 10px 0px 30px;
}
.link1 {
    position: relative;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 240px;
    margin-top: 10px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;

}
.link1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s;

}

.link1 :hover::after {
    transform: scaleX(1);
}

.link2 {
    position: relative;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 10px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;

}

.link2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s;

}

.link2 :hover::after {
    transform: scaleX(1);
}

.link3 {
    position: relative;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 10px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;

}

.link3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s;

}

.link3 :hover::after {
    transform: scaleX(1);
}




.link4 {
    position: relative;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 10px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;

}

.link4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s;

}

.link4 :hover::after {
    transform: scaleX(1);
}

.link5 {
    position: relative;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 20px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;

}

.link5::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s;

}

.link5:hover::after {
    transform: scaleX(1);
}

.fundo-sub {
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0.5;
}


.container {
    position: absolute;
    display: flex;
    z-index: 5;
    gap: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.image-box {
    position: relative;
    width: 250px;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}
.image-box img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.image-box:hover img,
.image-box:focus-within img {
    transform: scale(1.1);
    filter: blur(5px);
}
.description {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.image-box:hover .description,
.image-box:focus-within .description {
    opacity: 1;
}
/*Responsividade*/
@media (max-width: 768px) {
    .menu ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #333;
        padding: 10px 0;
    }

    .menu ul.active {
        display: flex;
    }

    .menu ul li {
        text-align: center;
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
.menu{
    display: none;

}
.fundo{
    display: none;
}
.fundo-mb{
    display: block;
}
.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 200px;

}
.image-box{
    width: 90%;
}

}


